#p1 {
color: blue;
font-size: 45px;
border: 6px dotted lightgreen;
}
#p2 {
color: green;
font-size: 80px;
border: 5px dotted pink;
}
h1 {
color: purple;
font-size: 35px;
border-top: 4px solid green;
border-left: 4px solid aqua;
border-bottom: 4px solid blue;
border-right: 4px solid lightgreen;
text-align: center;